<nz-card class="ch-tab">
    <div class="banner-changer">
        <app-banner-column-changer></app-banner-column-changer>
    </div>
  <div nz-row>
    <div nz-col [nzSpan]="webSettings.bannerLeft">
      <div class="left-banner">
        <div nz-form nzLayout="vertical" class="vertical-form">
              <app-query-condition [queryDTO]="queryDTO"></app-query-condition>
          </div>
        <div class="m-b-20" nz-row>
          <div nz-col nzSpan="16">
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
              <input type="text" nz-input placeholder="请输入名称，编码..." [(ngModel)]="queryDTO.filter"
                (keypress)="keypress($event)" formCotrolName="filter" />
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button nz-button nzType="primary" nzSearch (click)="refresh()"><i nz-icon type="search"></i></button>
            </ng-template>
          </div>
          <div class="p-l-20" nz-col nzSpan="8">
            <button nz-button nzType="default" (click)="confirmAdd()">添加</button>
          </div>
        </div>
        <nz-table class="small-table" #virtualTable nzVirtualScroll [nzVirtualItemSize]="54" [nzData]="listOfData"
          [nzFrontPagination]="false" [nzLoading]="isTableLoading" [nzShowPagination]="false"
          [nzScroll]="{ x: '700px', y: '380px' }">
          <thead>
            <tr>
              <th nzWidth="50px" nzLeft="0px" nzShowCheckbox (nzCheckedChange)="checkAll($event)">
              </th>
              <th  nzWidth="40px" nzLeft="50px">序</th>
              <th nzWidth="100px" nzLeft="90px">名称</th>
              <th nzWidth="100px" nzShowSort nzSortKey="shortName">简称</th>
              <th nzWidth="100px" nzShowSort nzSortKey="brandName">品牌</th>

              <th nzWidth="100px" nzShowSort nzSortKey="vendorMaterialCode">厂商码</th>
              <th nzWidth="100px" nzShowSort nzSortKey="materialTypeName">类型</th>
              <th nzWidth="100px" nzShowSort nzSortKey="methodologyName">方法学</th>
              <th nzWidth="100px" nzShowSort nzSortKey="specification">规格</th>

              <th nzWidth="100px" nzShowSort nzSortKey="storageConditionName">存储条件</th>
              <th nzWidth="100px" nzShowSort nzSortKey="temperatureRangeName">温度范围</th>
              <th nzWidth="100px" nzShowSort nzSortKey="price">采购单价</th>
              <th nzWidth="100px" nzShowSort nzSortKey="isEnableOpenLabel">开瓶标贴</th>

              <th nzWidth="100px" nzShowSort nzSortKey="organizationName">所属部门</th>
              <th nzWidth="100px" nzShowSort nzSortKey="instrumentName">所属仪器</th>
              <th nzWidth="100px" nzShowSort nzSortKey="supplierName">供应商</th>
              <th nzWidth="100px" nzShowSort nzSortKey="manufacturerName">生产厂商</th>
            </tr>
          </thead>
          <tbody>
            <ng-template nz-virtual-scroll let-data let-index="index">
              <tr>
                <td nzLeft="0px" nzShowCheckbox [(nzChecked)]="mapOfCheckedId[data.id]"></td>
                <td nzLeft="50px">{{index+1}}</td>
                <td nzLeft="90px">{{ data.name }}</td>
                <td>{{data.shortName}}</td>
                <td>{{data.brandName}}</td>

                <td>{{data.vendorMaterialCode}}</td>
                <td>{{data.materialTypeName}}</td>
                <td>{{data.methodologyName}}</td>
                <td>{{data.specification}}</td>

                <td>{{data.storageConditionName}}</td>
                <td>{{data.temperatureRangeName}}</td>
                <td>{{data.price}}</td>
                <td>{{data.isEnableOpenLabel | formatBoolean}}</td>


                <td>{{data.organizationName}}</td>
                <td>{{data.instrumentName}}</td>
                <td>{{data.manufacturerName}}</td>
                <td>{{data.supplierName}}</td>
              </tr>
            </ng-template>
          </tbody>
        </nz-table>
      </div>
    </div>

    <div nz-col [nzSpan]="webSettings.bannerRight">
      <div class="m-b-10">
        <button class="m-r-20" nz-button nzType="primary" (click)="print()">打印</button>
        <button nz-button nzType="default" (click)="clear()">清空</button>
      </div>
      <nz-table class="small-table" #printTable [nzData]="createBarcodePrintRecordsInput.barcodePrintRecords" [nzFrontPagination]="false"
        [nzLoading]="loading" [nzShowPagination]="false" [nzScroll]="{ x: '400px', y: '540px' }">
        <thead>
          <tr>
            <th nzWidth="50px" nzLeft="0px">序</th>
            <th nzWidth="170px" nzLeft="50px">名称</th>
            <th nzWidth="120px" nzShowSort nzSortKey="hospitalMaterialCode">院内码</th>
            <th nzWidth="120px" nzShowSort nzSortKey="hospitalMaterialCode">规格</th>
            <th nzWidth="140px" nzShowSort nzSortKey="vendorMaterialCode">打印数量</th>
            <th nzWidth="140px" nzShowSort nzSortKey="materialTypeName">批号</th>
            <th nzWidth="180px" nzShowSort nzSortKey="methodologyName">效期</th>
            <th nzWidth="60px" nzRight="0px">删除</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of printTable.data;let i = index;">
            <td nzLeft="0px">{{i+1}}</td>
            <td nzLeft="50px">{{item.materialName}}</td>
            <td>{{item.hospitalMaterialCode}}</td>
            <td>{{item.specification}}</td>
            <td>
              <div class="editable-cell">
                <div class="editable-cell-text-wrapper">
                  <nz-input-number placeholder="打印数量" [(ngModel)]="item.printNumber" [nzMin]="0" [nzMax]="100000"
                    [nzStep]="1"></nz-input-number>
                </div>
              </div>
            </td>
            <td>
              <div class="editable-cell">
                <div class="editable-cell-text-wrapper">
                  <div class="editable-cell-text-wrapper">
                    <input nz-input placeholder="批号" name="batchNo" [(ngModel)]="item.batchNo">
                  </div>
                </div>
              </div>
            </td>

            <td>
              <div class="editable-row-operations">
                <nz-date-picker [nzFormat]="'yyyy-MM-dd'" [(ngModel)]="item.expiryDate">
                </nz-date-picker>
              </div>
            </td>
            <td nzRight="0px">
              <div class="editable-row-operations">
                <button nz-button nzSize="small" nzShape="circle" nzType="default" (click)="deletePrint(item)"><i
                    nz-icon type="minus" theme="outline"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>

    </div>
  </div>
</nz-card>