<nz-drawer [nzVisible]="isVisible" nzPlacement="right" nzTitle="系统设置" (nzOnClose)="close()" [nzWidth]="720">

  <div nz-form>
    <nz-form-item nzFlex>
      <nz-form-label [nzSm]="6" [nzXs]="24">是否自动出入库</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-switch [(ngModel)]="saveDto.inventory.isAutoInventoryOutOrInStorage">
        </nz-switch>

      </nz-form-control>
    </nz-form-item>

    <nz-form-item nzFlex>
      <nz-form-label [nzSm]="6" [nzXs]="24">条码是否带批次效期</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-switch [(ngModel)]="saveDto.inventory.isBarcodePrintContainBatchNoExpireDate">
        </nz-switch>

      </nz-form-control>
    </nz-form-item>

    <nz-form-item nzFlex>
      <nz-form-label [nzSm]="6" [nzXs]="24">是否同步出库单</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-switch [(ngModel)]="saveDto.inventory.isSyncMaterialOutStorage">
        </nz-switch>

      </nz-form-control>
    </nz-form-item>

    <nz-form-item nzFlex>
      <nz-form-label [nzSm]="6" [nzXs]="24">是否同步请购单</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-switch [(ngModel)]="saveDto.inventory.isSyncMaterialPurchase">
        </nz-switch>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nzFlex>
      <nz-form-label [nzSm]="6" [nzXs]="24">是否启用条形码</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-switch [(ngModel)]="saveDto.inventory.isEnableBarcode">
        </nz-switch>

      </nz-form-control>
    </nz-form-item>

    <nz-form-item nzFlex>
      <nz-form-label [nzSm]="6" [nzXs]="24">条码流水号长度</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-input-number placeholder="条码流水号长度"  name="maxReferenceRange"
          [(ngModel)]="saveDto.inventory.barcodePrintSerialNumberCount" [nzMin]="0" [nzMax]="10000" [nzStep]="1">
        </nz-input-number>

      </nz-form-control>
    </nz-form-item>



  </div>

  <div class="drawer-footer">
    <button nz-button type="button" (click)="close()" class="ant-btn"
      style="margin-right: 8px;"><span>取消</span></button>
    <button nz-button type="button" (click)="save()" class="ant-btn ant-btn-primary"
      [nzLoading]="saving"><span>确认</span></button>
  </div>

</nz-drawer>