<nz-card class="ch-tab">

    <div class="search-list">
        <div class="row custom-form">

            <div class="col-xs-4 col-lg-3 ">
                <button class="m-r-20" nz-button nzType="default" (click)="getRoles()"><i nz-icon type="search"
                        theme="outline"></i>查询</button>

                <button nz-button nzType="default" (click)="createRole()"><i nz-icon type="plus-circle"
                        theme="outline"></i>新增</button>

            </div>
            <div class="col-xs-8"><span style="font-size: 12px;color:#007ACC;margin-left: 20px;">
                    (添加角色后，需点击【操作】-【权限】，编辑权限)
                </span></div>
        </div>
    </div>
    <nz-table #nzTable [nzData]="roles" [nzLoading]="loading" [nzFrontPagination]=false [nzShowPagination]=false>
        <thead (nzSortChange)="sort($event)" nzSingleSort>
            <tr>
                <th>操作</th>
                <th nzShowSort nzSortKey="age">名称</th>
                <th>创建时间</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of nzTable.data">
                <td>
                    <div class="editable-row-operations">
                        <nz-dropdown>
                            <button nz-button nzSize="small" nz-dropdown>操作<i nz-icon type="down"></i></button>
                            <ul nz-menu>
                                <li nz-menu-item (click)="editRole(item)">
                                    <a>修改</a>
                                </li>
                                <li nz-menu-item (click)="open(item)">
                                    <a>权限</a>
                                </li>
                                <li nz-menu-item (click)="delete(item)">
                                    <a>删除</a>
                                </li>
                            </ul>
                        </nz-dropdown>

                    </div>
                </td>
                <td>{{item.displayName}}</td>
                <td>{{item.creationTime  | date:'yyyy-MM-dd'}}</td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>
<role-edit-modal #roleEditModal (modalSave)="getRoles()"></role-edit-modal>

<nz-drawer [nzVisible]="visible" nzPlacement="right" nzTitle="角色权限分配" (nzOnClose)="close()" [nzWidth]="720">
    <nz-tree #nzTreeComponent [nzData]="permissionTreeNodes" nzCheckable="true" nzMultiple="true"
        [nzCheckedKeys]="defaultCheckedKeys" [nzExpandAll]="true"> </nz-tree>
    <div class="drawer-footer">
        <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>取消</span></button>
        <button type="button" (click)="save()" class="ant-btn ant-btn-primary"><span>确认</span></button>
    </div>
</nz-drawer>