<nz-card class="ch-tab">
  <div nz-form nzLayout="inline" class="m-b-20">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">起始时间</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24">
        <nz-date-picker [nzFormat]="'yyyy-MM-dd'" [(ngModel)]="queryDTO.startDate"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24">结束时间</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24">
        <nz-date-picker [nzFormat]="'yyyy-MM-dd'" [(ngModel)]="queryDTO.endDate"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <app-query-condition [queryDTO]="queryDTO"></app-query-condition>
    <nz-form-item>
      <nz-form-control>
        <nz-form-label [nzSm]="6" [nzXs]="24">字节</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
          <input nz-input placeholder="关键字" [(ngModel)]="queryDTO.filter" />
        </nz-form-control>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="default" (click)="refresh()"><i nz-icon type="search" theme="outline"></i>查询
        </button>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="default" (click)="clearParam()"><i nz-icon type="undo" theme="outline"></i>重置</button>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button (click)="closingMaterialPurchase()"> 结案</button>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button (click)="purchaseSyncK3()"> 同步K3</button>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button (click)="invalidMaterialPurchase()"> 作废
        </button>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div>
    <nz-table #nzTable class="small-table" nzBordered [nzData]="data" [nzFrontPagination]=false nzShowSizeChanger
      [nzLoading]="loading" [(nzPageSize)]=pageSize [(nzPageIndex)]=pageNumber [nzTotal]=totalItems
      (nzPageSizeChange)="refresh(true)" (nzPageIndexChange)="refresh()">
      <thead>
        <tr>
          <th nzWidth="5%" nzShowCheckbox (nzCheckedChange)="checkAll($event)">
          </th>
          <th nzWidth="5%" nzShowExpand>展示</th>
          <th nzWidth="5%">序号</th>
          <th nzWidth="10%">状态</th>
          <th nzWidth="20%">请购单号</th>
          <th nzWidth="20%">K3单号</th>
          <th nzWidth="10%">请购人</th>
          <th nzWidth="10%">请购部门</th>
          <th nzWidth="15%">请购日期</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-obj [ngForOf]="nzTable.data" let-i="index">
          <tr>
            <td nzShowCheckbox [(nzChecked)]="mapOfCheckedId[obj.id]"></td>
            <td nzShowExpand [(nzExpand)]="expandDataCache[i.toString()].expand"></td>
            <td>{{i+1}}</td>
            <td>{{obj.materialPurchaseState | enumType:'MaterialPurchaseState'}}</td>
            <td>{{obj.purchaseOrderNo}}</td>
            <td>{{obj.k3PurchaseOrderNo}}</td>
            <td>{{obj.applicantUserId | formatUser}}</td>
            <td>{{obj.organizationName}}</td>
            <td>{{obj.applicationTime | date:'yyyy-MM-dd'}}</td>
          </tr>
          <tr [nzExpand]="expandDataCache[i.toString()].expand">
            <td></td>
            <td colspan="8" class="table-cantainer">
              <nz-table #innerTable class="small-table" [nzData]="obj.materialPurchaseDetails" [nzShowPagination]="false">
                <thead>
                  <tr>
                    <th>序</th>
                    <th>院内码</th>
                    <th>物料名称</th>
                    <th>数量</th>
                    <th>单位</th>
                    <th>期望到货日期</th>
                    <th>备注</th>
                  </tr>
                </thead>
      <tbody>
        <tr *ngFor="let item of innerTable.data; let idx=index; ">
          <td>{{idx+1}}</td>
          <td>{{item.hospitalMaterialCode}}</td>
          <td>{{item.materialName}}</td>
          <td>{{item.number}}</td>
          <td>{{item.unitName}}</td>
          <td>{{item.expectedArrivalDate | date:'yyyy-MM-dd'}}</td>
          <td>{{item.remark}}</td>
        </tr>
      </tbody>
    </nz-table>
    </td>
    </tr>
    </ng-template>
    </tbody>
    </nz-table>
  </div>
</nz-card>