
<nz-drawer [nzVisible]="visible" nzPlacement="right" nzTitle="选择用户" (nzOnClose)="close()" [nzWidth]="720">
  <nz-table #nzTable [nzData]="users" [nzFrontPagination]=false nzShowSizeChanger [nzLoading]="loading"
    [(nzPageSize)]=pageSize [(nzPageIndex)]=pageNumber [nzTotal]=totalItems (nzPageSizeChange)="refresh(true)"
    (nzPageIndexChange)="refresh()">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th
        nzShowCheckbox
        [(nzChecked)]="isAllDisplayDataChecked"
        (nzCheckedChange)="checkAll($event)"></th>
        <th >用户名</th>
        <th>名字</th>
        <th>角色</th>
        <th>组织</th>
        <th>邮箱</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of nzTable.data">
        <td
        nzShowCheckbox [(nzChecked)]="mapOfCheckedId[item.id]" (nzCheckedChange)="refreshStatus(item)"></td>
        <td>{{item.userName}}</td>
        <td>{{item.name}}</td>
        <td>{{item.roles[0].roleName}}</td>
        <td>{{item.organizationUnitName}}</td>
        <td>{{item.emailAddress}}</td>
 

      </tr>
    </tbody>
  </nz-table>
  <div class="drawer-footer">
    <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>取消</span></button>
    <button type="button" (click)="saveUsers()" class="ant-btn ant-btn-primary"><span>确认</span></button>
  </div>
</nz-drawer>